.banner {
  position: relative;
  color: white;
  text-align: center;
  padding: 100px 20px;
  background-size: cover;
  background-position: center;
}

.banner h1, .banner p {
  z-index: 1;
  color: white;
}

.banner-title {
  font-size: 3rem;
  font-weight: bold;
}

.banner-description {
  font-size: 1.25rem;
  margin-top: 15px;
}
